.smf-wrapper{
    background-color: #eeeeee;
    position: relative;
}
.smf-form-container{
    width:100%;
    min-height: 300px;
    text-align: center;
    padding-top: 17px;
    padding-bottom: 10px;
}
.smf-submit-button-container{
    text-align: center;
    z-index:2;
    position: sticky;
    text-align: center;
    bottom: 0;
    left: 0;
    right: 0;
    padding-bottom: 10px;
    min-height: 40px;
    margin-left: auto;
    margin-right: auto;
}
.smf-field-type-container{
    z-index:2;
    position: sticky;
    text-align: center;
    left: 0;
    right: 0;
    top:0;
    min-height: 40px;
    padding-top: 17px;
    margin-left: auto;
    margin-right: auto;
}
.smf-remove-field{
    position: absolute;
    right: 5px;
    top: 5px;
    cursor: pointer;
    color: #D32F2F;
}
.smf-form-field-container{
    position: absolute;
    border-style: solid;
    border-width: 1px;
    resize: both;
    overflow:hidden;
    box-sizing: content-box;
    padding:0px;
    font-size: 10px;
}
.smf-form-field-container>.smf-move-handle{
    display:inline-block;
    width:90%;
    height:90%;
    position:absolute;
    left:0;
    top:0;
    cursor: move;
}
.smf-add-field-selector{
    margin: 0px 10px;
    padding:10px;
    border: 1px #333 solid;
    height:100%;
    cursor: pointer;
    background-color: #ffffff;
}
.smf-add-field-selector.selected{
    border-width:3px;
}
.smf-pdf-page{
    border: 1px dashed #cccccc;
    background-color: #ffffff;
    position: relative;
    display: inline-block;
}
.popover{
    z-index: 99999999999;
}
