<!DOCTYPE html>
<html>
	<head lang="en">
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<title>Test</title>

		<link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
		<link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />
		<link rel="icon" href="/images/favicon.ico" type="image/x-icon" />

		<link href="https://pro.fontawesome.com/releases/v5.15.0/css/all.css" rel="stylesheet">
        <link href="/css/form_builder.css" rel="stylesheet">
        <link rel="stylesheet" href="/css/lib/bootstrap/bootstrap.min.css">

        <script src="/js/lib/jquery/jquery-3.2.1.min.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
        <script src="/js/lib/popper/popper.min.js"></script>
        <script src="/js/lib/bootstrap/bootstrap.min.js"></script>
        <script src="/js/form_builder.js"></script>
	</head>
	<body>
		<div id="form-builder" style="height:70vh;overflow-y:scroll;">

        </div>
	</body>
    <script>
    $(document).ready(function(){
        var formBuilder = $('#form-builder').formBuilder({
            accessToken: 'access_token'
        });
        formBuilder.load('template_unique_id', {
			signerAliases: {
				'1': 'Alias'
			}
		});
    });
    </script>
</html>
